.board-background {
  width: fit-content;
  padding: 10px;
  margin: auto;
  border: solid darkgray;
  border-radius: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  place-items: center;
  justify-content: center;
}