.scoreboard-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreboard-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  text-align: center;
  font-size: 2rem;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #888;
  padding: 0.5rem;
}

.score-mobile {
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #888;
  padding: 0.5rem;
}

.x-score {
  color: rgb(255, 70, 37);
  border: 0.25rem solid rgb(255, 70, 37);
  border-radius: 0.5rem;
}

.x-arrow {
  color: rgb(255, 70, 37);
}

.o-score {
  color: rgb(44, 135, 255);
  border: 0.25rem solid rgb(44, 135, 255);
  border-radius: 0.5rem;
}

.o-arrow {
  color: rgb(44, 135, 255);
}

.inactive {
  color: #888;
  opacity: 0.75;
  border: 0.25rem solid transparent;
}

.hide {
  color: #888;
  opacity: 0.5;
}