.square {
  text-align: center;
  font-size: 6.5rem;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  line-height: 6.5rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #888;
  aspect-ratio: 1/1;
  width: 6.5rem;
  margin: 1rem;
}

.square-mobile {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  font-size: 2.5rem;
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  /* line-height: 4.5rem; */
  background-color: white;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #888;
  aspect-ratio: 1/1;
  width: 3rem;
  margin: 1rem;
}

.x {
  color: rgb(255, 70, 37);
}

.o {
  color: rgb(44, 135, 255);
}

.square:hover {
  cursor: pointer;
  box-shadow: 0 0 1rem rgb(47, 46, 46);
}