.tictactoe-container {
	max-width: 90rem;
	display: grid;
	place-items: center;
	place-content: center;
	margin: 1rem auto;
}

.score-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.score-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.score {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem #888;
}

.score-txt {
	font-family: 'Fredoka', sans-serif;
	font-weight: bold;
}

.x-score {
	color: rgb(255, 70, 37);
	border: 0.25rem solid rgb(255, 70, 37);
	border-radius: 0.5rem;
}

.red {
	color: rgb(255, 70, 37);
}

.o-score {
	color: rgb(44, 135, 255);
	border: 0.25rem solid rgb(44, 135, 255);
	border-radius: 0.5rem;
}

.blue {
	color: rgb(44, 135, 255);
}

.inactive {
	color: #888;
	opacity: 0.75;
	border: 0.25rem solid transparent;
}

.hide {
	color: #888;
	opacity: 0.5;
}

.gameboard-container {
	aspect-ratio: 1/1;
	border: solid darkgray;
	border-radius: 1rem;
}

.gameboard-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-content: center;
}

.square {
	display: flex;
	place-items: center;
	place-content: center;
	background-color: white;
	border: none;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem #888;
	aspect-ratio: 1/1;
}

.square:hover {
	cursor: pointer;
	box-shadow: 0 0 1rem rgb(47, 46, 46);
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.winning-message-txt {
	letter-spacing: 1rem;
	font-family: 'Fredoka', sans-serif;
	font-weight: 600;
}
