.finish-message {
  width: 95%;
  display: none;
  position: relative;
  padding: 0.5rem 0rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.finish-message-text1 {
  font-size: 2.5rem;
}

.finish-message-text2 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-style: italic;
}

.finish-message.win {
  display: flex;
  color: white;
  background-color: green;
  border-radius: 50px;
}

.finish-message.lose {
  display: flex;
  color: white;
  background-color: red;
  border-radius: 50px;
}

.finish-message button {
  margin-top: 1.5rem;
  padding: 5px 10px;
  border: 2px solid black;
  color: black;
  background-color: white;
}

.finish-message button:hover {
  color: white;
  background-color: black;
  border-color: white;
}

.hide {
  display: none;
}

.locked {
  opacity: 0.5;
  pointer-events: none;
}